---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import type { Props as ProjectCardProps } from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";
let projects = await getCollection("projects");
projects = projects.sort(
    (a, b) => (a.data.order ?? Infinity) - (b.data.order ?? Infinity)
);

type Project = {
    data: ProjectCardProps; // Use the imported Props interface for typing
};
---

<Layout title="Home">
    <div class="max-w-screen-xl mx-auto">
        <section class="grid place-items-center p-4 mt-24">
            <div class="md:w-4/6">
                <h1 class="text-pretty text-5xl sm:text-5xl lg:text-6xl">
                    <i>Seeing the vision is half the mission</i>
                </h1>
                <p class="mt-20 text-xl">
                    Hi! I'm Edward, a software engineer driven by a passion for
                    creating and a hunger for learning, dedicated to bringing
                    abstract ideas into focus. Whether it's crafting innovative
                    tools or tackling tough problems, I'm all about using my
                    skills to make an impact. Let's build something
                    extraordinary together.
                </p>
            </div>
        </section>

        <section id="projects" class="mt-20 p-4">
            <h2 class="text-3xl font-semibold mb-6 md:text-4xl">
                Cool Stuff I've Done!
            </h2>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                {
                    projects.map((project: Project) => (
                        <ProjectCard
                            title={project.data.title}
                            image={project.data.image}
                            technologies={project.data.technologies}
                            description={project.data.description}
                            seeMoreLink={project.data.seeMoreLink}
                            viewSiteLink={project.data.viewSiteLink}
                            order={project.data.order}
                        />
                    ))
                }
            </div>
        </section>

        <!-- <section id="projects" class="p-4">
            <h2>Coming Soon...</h2>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                {
                projects.map((project: Project) => (
                    <ProjectCard
                        title={project.data.title}
                        image={project.data.image}
                        technologies={project.data.technologies}
                        description={project.data.description}
                        seeMoreLink={project.data.seeMoreLink}
                        viewSiteLink={project.data.viewSiteLink}
                    />
                ))
            }
            </div>
        </section> -->
    </div>
</Layout>
