---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import type { Props as ProjectCardProps } from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");

type Project = {
    data: ProjectCardProps; // Use the imported Props interface for typing
};
---

<Layout title="Home">
    <section class="grid place-items-center p-4">
        <h1>Seeing the vision is half the mission</h1>
        <p class="mt-20">
            Hi! I'm Edward, a software engineer driven by a passion for creating
            and a hunger for learning, dedicated to bringing abstract ideas into
            focus. Whether it's crafting innovative tools or tackling tough
            problems, I'm all about using my skills to make an impact. Let's
            build something extraordinary together.
        </p>
    </section>

    <section class="p-4">
        <h2>Cool Stuff I've Done!</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {
                projects.map((project: Project) => (
                    <ProjectCard
                        title={project.data.title}
                        image={project.data.image}
                        technologies={project.data.technologies}
                        description={project.data.description}
                        seeMoreLink={project.data.seeMoreLink}
                        viewSiteLink={project.data.viewSiteLink}
                    />
                ))
            }
        </div>
    </section>

    <p class="p-4">made with love c:</p>
</Layout>
