---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((entry: CollectionEntry<"projects">) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry }: { entry: CollectionEntry<"projects"> } = Astro.props;
const { Content } = await entry.render();

import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import Image from "astro/components/Image.astro";
---

<Layout title={entry.data.title}>
    <main class="text-gray-900">
        <section class="p-8 lg:p-16 max-w-5xl mx-auto">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-12">
                <!-- Text Content -->
                <div>
                    <!-- Title -->
                    <div class="mb-6">
                        <h1
                            class="text-2xl lg:text-4xl font-bold text-gray-900 dark:text-white"
                        >
                            {entry.data.title}
                        </h1>
                        <p
                            class="text-sm font-medium text-gray-600 dark:text-gray-500"
                        >
                            {entry.data.organization}
                        </p>
                    </div>

                    <!-- Description -->
                    <p class="text-gray-700 mb-6 dark:text-gray-300">
                        {entry.data.description}
                    </p>

                    <!-- Key Results -->
                    <h2
                        class="text-lg font-semibold text-gray-800 mb-2 dark:text-white"
                    >
                        Key Results
                    </h2>
                    <ul
                        class="list-disc list-inside text-gray-700 space-y-2 mb-6 dark:text-gray-300"
                    >
                        {
                            entry.data.keyResults?.map((result: string) => (
                                <li>{result}</li>
                            ))
                        }
                    </ul>
                </div>

                <!-- Thumbnail / Image -->
                <div>
                    <Image
                        src={entry.data.image}
                        alt={entry.data.title}
                        width={432}
                        height={227}
                        class="w-full h-auto rounded-lg shadow-lg mb-6"
                        loading="eager"
                    />
                    <!-- Role and Timeline -->
                    <div class="grid grid-cols-2 gap-4 mb-6">
                        <div>
                            <h3
                                class="text-sm font-medium text-gray-600 uppercase dark:text-white"
                            >
                                Role
                            </h3>
                            <p class="text-gray-800 dark:text-gray-300">
                                {entry.data.role}
                            </p>
                        </div>
                        <div>
                            <h3
                                class="text-sm font-medium text-gray-600 uppercase dark:text-white"
                            >
                                Timeline
                            </h3>
                            <p class="text-gray-800 dark:text-gray-300">
                                {entry.data.timeline}
                            </p>
                        </div>
                    </div>

                    <!-- Skills -->
                    <h3
                        class="text-sm font-medium text-gray-600 uppercase mb-2 dark:text-white"
                    >
                        Skills Used
                    </h3>
                    <ul class="flex flex-wrap gap-2">
                        {
                            entry.data.skills?.map((skill: string) => (
                                <li class="bg-gray-200 text-gray-800 text-sm font-medium px-3 py-1 rounded-lg">
                                    {skill}
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>

            <Prose>
                <Content />
            </Prose>
        </section>
    </main>
</Layout>
